<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MnfPic.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <!--https://docs.microsoft.com/en-us/dotnet/framework/network-programming/proxy-configuration-->
  <system.net>
    <defaultProxy>
      <proxy  proxyaddress="http://proxy.contoso.com:3128"
              bypassonlocal="True"
        />
      <bypasslist>
        <add address="[a-z]+.mnfclub.com$" />
      </bypasslist>
    </defaultProxy>
  </system.net>
  <userSettings>
    <MnfPic.Properties.Settings>
      <setting name="Verze" serializeAs="String">
        <value>1534503450</value>
      </setting>
    </MnfPic.Properties.Settings>
  </userSettings>
</configuration>
